/* http://meyerweb.com/eric/tools/css/reset/ 
.about {
  background: pink;
  width: 1000px;
  margin: auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-content: space-around;
  height: 300px;
}
.cards .card {
  width: 30%;
}
.cards .card div {
  font-size: 1.25rem;
  margin-bottom: 5px;
}
footer {
  text-align: center;
  padding-top: 100px;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  background: yellow;
}
.nav-header {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  font-size: 2rem;
  background: lightgray;
  padding: 10px;
}
.nav-header nav {
  display: flex;
  width: 75%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.nav-header nav a {
  text-decoration: none;
  color: dodgerblue;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
footer {
  padding: 25px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
