/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
footer {
  padding: 25px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.about {
  background: #b2d3be;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-content: space-around;
  height: 300px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
@media (max-width: 500px) {
  .cards {
    height: 500px;
  }
}
.cards .card {
  max-width: 300px;
  width: 30%;
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  .cards .card {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .cards .card {
    width: 80%;
  }
}
.cards .card div {
  font-size: 2rem;
  margin-bottom: 5px;
}
footer {
  text-align: center;
  padding-top: 2%;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 3% 0 1% 0;
}
p {
  font-size: 1.5rem;
  line-height: 150%;
}
h1 {
  font-size: 2.5rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.25rem;
  margin-bottom: 5%;
}
h3 {
  font-size: 2rem;
  margin-bottom: 5%;
}
ul {
  list-style-type: square;
  margin: 2% 0% 2% 5%;
  width: 85%;
}
li {
  padding: 0.375%;
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  margin-top: 3%;
  text-shadow: 1px 1px 2px darkgray;
}
header {
  width: 100%;
}
.top {
  width: 100%;
  display: inline-flex;
}
@media (max-width: 500px) {
  .top {
    flex-direction: column;
    display: flex;
  }
}
.top br {
  margin-bottom: 5%;
}
#slogan {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  align-content: center;
  color: #f3e548;
  width: 33%;
  margin-top: -3%;
}
@media (max-width: 500px) {
  #slogan {
    width: 80%;
    font-size: 5rem;
    height: 30%;
  }
}
#quiet-kids {
  width: 33%;
  height: 30%;
  margin: 2% 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.features {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  margin: 1% 5% 5% 0;
  width: 33%;
  height: 35%;
  table-layout: auto;
  font-family: 'Montserrat', sans-serif;
  color: #f2f4d1;
}
@media (max-width: 500px) {
  .features {
    width: 80%;
    font-size: 5rem;
  }
}
#slogan {
  padding: 5%;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin: 10px auto;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: #fff;
}
header img {
  width: 5rem;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#logo {
  display: inline-flex;
  justify-content: right;
  align-content: center;
  width: auto;
  height: 20%;
  padding: 0 0 0% 0%;
}
.container {
  display: inline-flex;
  align-content: flex-start;
  position: relative;
  top: 5%;
  width: 50%;
  margin-top: -17%;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    margin: 5% 0 0 0;
    width: 100%;
    justify-content: center;
  }
}
.container img {
  width: 25%;
  height: auto;
}
.container .btn {
  position: absolute;
  top: 50%;
  left: 17.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(187, 14, 14, 0.815);
  opacity: 0.65;
  width: 16%;
  height: 30%;
  padding-left: 5%;
  margin-left: 1%;
  margin-top: 0%;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}
@media (max-width: 500px) {
  .container .btn {
    display: block;
    position: relative;
    right: 90%;
  }
}
.container .btn:hover {
  background-color: red;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  font-weight: bolder;
  font-size: 6rem;
  color: white;
  margin: 5% 0 0 25%;
  width: 100%;
  height: 15%;
  padding: 2%;
}
@media (max-width: 500px) {
  h1 {
    font-size: 7rem;
    text-align: center;
    margin: 15% 0 0 0;
  }
}
