.about {
  background: @color1;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.cards {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: space-around;
  height: 300px;

  @media @phone {
    height: 500px;
  }

  .card {
    width: 300px;
    height: 100px;
    font-size: 1.5rem;
    border-radius: 8px;
    .testBorderGreen();

    @media @tablet {
      width: 45%;
    }

    @media @phone {
      width: 80%;
    }

    div {
      font-size: 2rem;
      margin-bottom: 5px;
    }
  }
}

.tabs {

  .devs-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 30px auto 20px;
  }
}
