.about {
  background: pink;
}

.about-container {
  width: 1000px;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-content: space-around;
  height: 300px;

  .card {
    width: 30%;

    @media @tablet {
      width: 100%;
    }

    div {
      font-size: 1.25rem;
      margin-bottom: 5px;
    }
  }
}
