
header {

    width: 100%;

}
                        
        
    
 

.top {
width: 100%;
}
    

    #quiet-kids {

        width: 35%;
        height: auto;
        margin-top:5%;

    }

.bottom-text {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    margin: 5% 0 3% 0;
    width: 45%;
    height: 40%;
    table-layout: auto;
 
    }

    div  {

    padding: 5%;
    //border: 1px solid darkslategray;

    }