.nav-header {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  font-size: 2rem;
  background: lightgray;
  padding: 10px;

  nav{
    display: flex;
    width: 75%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    a {
      text-decoration: none;
      color: dodgerblue;
    }
  }
}
