@apple-red: rgba(187, 14, 14, 0.815);

header{
    width:100%;
}

    nav {
    display: inline-flex;
    width: 100%;
    height: 35%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    
    }

        a {
        text-decoration: none;
        color: darkslategray;
        font-size: 1.5rem;
        margin: 0 10% 0 0;
    
        }

            a :first-child {
            margin: 10% 0 0 0;
            }

        #logo {

            display: inline-flex;
            justify-content: right;
            align-content: center;
            width:auto;
            height: 20%;
            padding: 0 0 0% 0%;
            }
        

        .container {
            display:inline-flex;
            align-content: flex-start;
            position: relative;
            top: 5%;
            width: 50%;
            margin-top: -17%;
        }
        
            /* Make the image responsive */
            .container img {
                width: 25%;
                height: auto;
            }
            
            /* Style the button and place it in the middle of the container/image */
                .container .btn {
                    position: absolute;
                    top: 50%;
                    left: 17.5%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: @apple-red;
                    opacity: .65;
                    width: 16%; 
                    height:30%;
                    padding-left:5%;
                    margin-left: 1%;
                    margin-top:0%;
                    color: white;
                    font-size: 16px;
                    padding: 12px 24px;
                    border: none;
                    cursor: pointer;
                    //border-radius: 5px;
                    
                    &:hover {
                        background-color: red;
                    
                
                    }
                
                                        }
        h1 {
        display:flex;
        justify-content: center;
        font-family:'Muli', sans-serif;
        font-weight: bolder;
        font-size: 6rem;
        color: white;
        margin: 5% 0 0 25%;
        width: 50%;
        height: 15%;
        padding: 2%;
        border-radius: 7px;
        //box-shadow: 5px 7px smokewhite;
        // border: 1px solid darkgray;
    }
    


        // #app-link{

        //     margin: 0% 0 5% 0;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     //background: steelblue;
        //     //color:yellow;
        //     //border-radius: .5rem;
        //     padding: 1rem 5rem 10rem 1rem;
        //     margin: 4% 0% 0% 0;
        //     width: 25%;
        //     height: 20%;
        //    font-size: 2.25rem;
        //     cursor: pointer;
        //     //box-shadow: 5px 10px slategray;
        //     //border: 1px solid darkgray;
            
        /* Container needed to position the button. Adjust the width as needed */
        
            

