header {
  .navDisplayFlex();
  width: 90%;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin: 10px auto;
  border-radius: 8px;
  border: solid 3px @apple-red;
  background-color: @Noise-Controller-4-hex;

  nav {
    width: 50%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: @apple-red;
      font-weight: 600;
    }

    a:hover {
      color: @Noise-Controller-5-hex;
    }
  }

  img {
    width: 4.5rem;
  }
}
