// colors
@color1: #f2f4d1;
@color2: #b2d3be;
@color3: #89a3b2;
@color4: #5e6073;
@color5:  rgb(243, 229, 72);
@apple-red: rgba(187, 14, 14, 0.815);

// Color Theme Swatches in Hex
@Noise-Controller-1-hex: #D92949;
@Noise-Controller-2-hex: #7F3FBF;
@Noise-Controller-3-hex: #04D924;
@Noise-Controller-4-hex: #F2E205;
@Noise-Controller-5-hex: #F28705;

// phone
@phone: ~'(max-width: 500px)';

// tablet
@tablet: ~'(max-width: 800px)';

@font-face {
  font-family: 'skruffyAngel';
  src:
  url('../fonts/djb_scruffy_angel-webfont.woff') format('woff'),
  url('../fonts/djb_scruffy_angel-webfont.woff2') format('woff2'),
  url('../fonts/djb_scruffy_angel-webfont.ttf') format('truetype'),

}

@font-face {
  font-family: 'skritchSkratch';
  src:
  url('../fonts/djb_skritch_skratch-webfont.woff') format('woff'),
  url('../fonts/djb_skritch_skratch-webfont.woff2') format('woff2'),
  url('../fonts/djb_skritch_skratch-webfont.ttf') format('truetype'),

}

@font-face {
  font-family: 'sandShoes';
  src:
  url('../fonts/djb_sand_shoes_and_a_fez-webfont.woff') format('woff'),
  url('../fonts/djb_sand_shoes_and_a_fez-webfont.woff2') format('woff2'),
  url('../djb_sand_shoes_and_a_fez-webfont.ttf') format('truetype'),

}
